.blue-background-container {
    margin: 0;
    background: #1B244A;
    width: 600px;
    height: 450px;
    box-sizing: border-box;
    color: #ffffff;
   
}
.counter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.counters {
    width: 155px;
    height: 120px;
    background-color: #080001;
    box-sizing: border-box;
    display: flex;
    color: #F94F6D;
    text-align: center;
    font-family: Verdana;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
}


h3 {
    width: 149px;
    margin-top: 68px;
    color: #EEE;
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.893px;
}

.points-button-container {
    width: 155px;
    flex-shrink: 0;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.points-buttons {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    background-color: transparent;
    color: #9AABD8;
    text-align: center;
    font-family: Verdana;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.reset-button-container {
    width: 100%;
    display: flex;
    
}
.reset-count-button {
    width: 155px;
    height: 45px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #F94F6D;
    background-color: #F94F6D;
    color: black;
    text-align: center;
    font-family: Verdana;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;  
    margin: 0px auto;
    margin-top:26px;
}

